[label "Verified"]
       function = MaxWithBlock
       defaultValue = 0
       copyMinScore = true
       copyAllScoresOnTrivialRebase = true
       value = -1 Negatively Verified
       value = 0 No score
       value = +1 Verified
[label "Gatekeeper"]
       function = MaxWithBlock
       defaultValue = 0
       copyMinScore = true
       copyAllScoresOnTrivialRebase = true
       value = -1 Negatively GateKeeper
       value = 0 No score
       value = +1 GateKeeper
[label "Integrated"]
       function = AnyWithBlock
       defaultValue = 0
       copyMinScore = true
       copyAllScoresOnTrivialRebase = true
       value = -2 This shall not be submitted
       value = -1 I would prefer this is not submitted as is
       value = 0 No score
       value = +1 Looks good to me, but someone else must approve
       value = +2 Looks good to me, approved
[label "PIT-Verified"]
       function = NoBlock
       defaultValue = 0
       copyMinScore = true
       copyAllScoresOnTrivialRebase = true
       value = -1 Negative
       value = 0 No score
       value = +1 Positive
[label "Patch-Set-Lock"]
        function = PatchSetLock
        value = 0 Patch Set Unlocked
        value = +1 Patch Set Locked
        defaultValue = 0
[label "All-Approvals"]
        function = NoBlock
        defaultValue = 0
        copyMinScore = true
        copyAllScoresOnTrivialRebase = true
        value = -1 Not all required approvals present
        value = 0 No score
        value = +1 All required approvals present

