[gerrit]
  basePath = git
  canonicalWebUrl = http://localhost:8087/g
[plugins]
  allowRemoteAdim = true
  code-owners = true

[database]
  type = postgresql
  hostname = postgres
  database = reviewdb
  username = gerrit

[index]
  type = LUCENE

[auth]
  type = HTTP

[sshd]
  listenAddress = *:29418

[httpd]
  listenUrl = proxy-http://*:8080/

[cache]
  directory = cache

[container]
  user = gerrit
