[gerrit]
  basePath = git

[plugins]
  allowRemoteAdim = true
  code-owners = true

[database]
  type = postgresql
  hostname = postgres
  database = reviewdb
  username = gerrit

[index]
  type = LUCENE

[auth]
  type = HTTP
  httpHeader = X-Forwarded-User
  httpEmailHeader = X-Forwarded-Email
  gitBasicAuthPolicy = HTTP
  httpExternalIdHeader = X-Forwarded-User
  trustContainerAuth = true

[sshd]
  listenAddress = *:29418

[httpd]
  listenUrl = proxy-http://*:8080/

[cache]
  directory = cache

[container]
  user = gerrit
