[gerrit]
  basePath = git

[change]
  submitWholeTopic = true

[index]
  type = LUCENE

[auth]
  type = HTTP

[sendemail]
  smtpServer = webmail-emea.nsn-intra.net
  enable = false

[sshd]
  listenAddress = *:29418

[container]
  user = gerrit
  javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
  javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
  javaHome = /usr/lib/jvm/jre

[retry]
  maxWait = 3 seconds
  timeout = 120 seconds

[gitweb]
  type = gitiles

[plugin "code-owners"]
  disabled = false
  disabledBranch = ^refs/meta/config
  disabledBranch = ^refs/heads/(?!owners-test-[0-9]+$).*
  exemptPureReverts = true

[plugin "kafka-events"]
  bootstrapServers = localhost:9092